<!DOCTYPE html>

<html lang="en">

	<head>

		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link href="/static/popup.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Cabin Condensed' rel='stylesheet'>

		<title>Muse</title>

	</head>

	<body>
		<!-- Side navigation -->
		<div class="sidenav">
			<a href="/templates/popup.html">Home</a>
			<a href="/templates/theme.html">Theme</a>
			<a href="/templates/bookmarks.html">Bookmarks</a>
			<a href="/templates/notes.html">Notes</a>
		</div>

		<!-- Page content -->
		<div class="main">
			<form name="bookmarks">

				Please enter the text and URLs of any quicklinks you would like shown.
				<br><br>

				1.
				<input type="text" id="text1" name="text1" placeholder="Text shown" autocomplete="on">
				<input type="text" id="link1" name="link1" placeholder="Link URL" autocomplete="on">
				<br>

				2.
				<input type="text" id="text2" name="text2" placeholder="Text shown" autocomplete="on">
				<input type="text" id="link2" name="link2" placeholder="Link URL" autocomplete="on">
				<br>

				3.
				<input type="text" id="text3" name="text3" placeholder="Text shown" autocomplete="on">
				<input type="text" id="link3" name="link3" placeholder="Link URL" autocomplete="on">
				<br>

				4.
				<input type="text" id="text4" name="text4" placeholder="Text shown" autocomplete="on">
				<input type="text" id="link4" name="link4" placeholder="Link URL" autocomplete="on">
				<br>

				5.
				<input type="text" id="text5" name="text5" placeholder="Text shown" autocomplete="on">
				<input type="text" id="link5" name="link5" placeholder="Link URL" autocomplete="on">
				<br>

				6.
				<input type="text" id="text6" name="text6" placeholder="Text shown" autocomplete="on">
				<input type="text" id="link6" name="link6" placeholder="Link URL" autocomplete="on">
				<br>

				7.
				<input type="text" id="text7" name="text7" placeholder="Text shown" autocomplete="on">
				<input type="text" id="link7" name="link7" placeholder="Link URL" autocomplete="on">
				<br>

				8.
				<input type="text" id="text8" name="text8" placeholder="Text shown" autocomplete="on">
				<input type="text" id="link8" name="link8" placeholder="Link URL" autocomplete="on">
				<br>

				9.
				<input type="text" id="text9" name="text9" placeholder="Text shown" autocomplete="on">
				<input type="text" id="link9" name="link9" placeholder="Link URL" autocomplete="on">
				<br>

				10.
				<input type="text" id="text10" name="text10" placeholder="Text shown" autocomplete="on">
				<input type="text" id="link10" name="link10" placeholder="Link URL" autocomplete="on">
				<br>

				<footer>
					<center><input type="submit" id="subBookmarks">
						<br>
						Please reload the page upon submitting.
					</center>
				</footer>
				<script src="/scripts/bookmarks.js"></script>
			</form>
		</div>
	</body>
</html>