<!DOCTYPE html>

<html lang="en">

	<head>

		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link href="/static/popup.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Cabin Condensed' rel='stylesheet'>

		<title>Muse</title>

	</head>

	<body>
		<!-- Side navigation -->
		<div class="sidenav">
			<a href="/templates/popup.html">Home</a>
			<a href="/templates/theme.html">Theme</a>
			<a href="/templates/bookmarks.html">Bookmarks</a>
			<a href="/templates/notes.html">Notes</a>
		</div>

		<!-- Page content -->
		<div class="main">
			Thanks for downloading Muse, a customizable homepage with a simple, minimalistic design.
			<br><br>
			<form name="home">
				<fieldset>
					<legend>Please enter your name.</legend>
					<input type="name" id="username" placeholder="Name">
				</fieldset>
				<br><br>
				<footer>
					<center><input type="submit" id='subButton'>
						<br>
						Please reload the page upon submitting.
					</center>
				</footer>
			</form>
		</div>
	</body>
	<script src="/scripts/popup.js"></script>
</html>